In [5]:
#Data is downloaded from kaggle

### This sheet involve following process:-

- Data Collection – Importing the dataset from CSV or source

- Data Integration – Merging or joining multiple datasets (if applicable)

- Data Cleaning – Handling missing values, correcting data types, removing duplicates

- Data Manipulation – Filtering, grouping, sorting, and reshaping the data

- Data Transformation – Scaling, encoding, or creating new features

- Feature Engineering – Creating new columns that may be helpful for ML

- Outlier Detection – Identifying extreme values that may skew results

- Descriptive Statistics – Showing mean, median, mode, skew, etc.

- Data Visualization – Exploring patterns through plots (histograms, boxplots, heatmaps, etc.)

- Exploratory Insights – Understanding trends, correlations, and distributions

- Data Exporting – Saving cleaned/transformed data for modeling or storage

In [2]:
import pandas as pd

In [4]:
data= pd.read_csv("../data/raw/Loan_default.csv")

In [6]:
data.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [8]:
data.dtypes

LoanID             object
Age                 int64
Income              int64
LoanAmount          int64
CreditScore         int64
MonthsEmployed      int64
NumCreditLines      int64
InterestRate      float64
LoanTerm            int64
DTIRatio          float64
Education          object
EmploymentType     object
MaritalStatus      object
HasMortgage        object
HasDependents      object
LoanPurpose        object
HasCoSigner        object
Default             int64
dtype: object

In [10]:
data.isnull().sum() #since no null values in any column move to check if there are any duplicates in LoadID

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [12]:
data.duplicated(subset=['LoanID']).sum()

0

In [14]:
data.duplicated().sum() #no duplicates in dataset data looks clean let's move further to our exploratory data analysis

0

In [16]:
data.shape

(255347, 18)

In [18]:
data.columns

Index(['LoanID', 'Age', 'Income', 'LoanAmount', 'CreditScore',
       'MonthsEmployed', 'NumCreditLines', 'InterestRate', 'LoanTerm',
       'DTIRatio', 'Education', 'EmploymentType', 'MaritalStatus',
       'HasMortgage', 'HasDependents', 'LoanPurpose', 'HasCoSigner',
       'Default'],
      dtype='object')

In [20]:
data.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [34]:
data.tail()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
255342,8C6S86ESGC,19,37979,210682,541,109,4,14.11,12,0.85,Bachelor's,Full-time,Married,No,No,Other,No,0
255343,98R4KDHNND,32,51953,189899,511,14,2,11.55,24,0.21,High School,Part-time,Divorced,No,No,Home,No,1
255344,XQK1UUUNGP,56,84820,208294,597,70,3,5.29,60,0.50,High School,Self-employed,Married,Yes,Yes,Auto,Yes,0
255345,JAO28CPL4H,42,85109,60575,809,40,1,20.90,48,0.44,High School,Part-time,Single,Yes,Yes,Other,No,0
255346,ZTH91CGL0B,62,22418,18481,636,113,2,6.73,12,0.48,Bachelor's,Unemployed,Divorced,Yes,No,Education,Yes,0

In [36]:
data.loc[255] #fetch and analize random row using label-based indexing method

LoanID             B3HP1RXJD2
Age                        33
Income                 140328
LoanAmount              69711
CreditScore               826
MonthsEmployed             49
NumCreditLines              2
InterestRate            23.01
LoanTerm                   48
DTIRatio                 0.75
Education         High School
EmploymentType     Unemployed
MaritalStatus         Married
HasMortgage                No
HasDependents             Yes
LoanPurpose              Auto
HasCoSigner                No
Default                     0
Name: 255, dtype: object

In [61]:
#let's create some new columns using feature engineering:-

#shows whether loan is bigger then the income of applicant.
data['LoantoIncomeRatio'] = data['LoanAmount'] / data['Income'] 

#shows an estimate of how much the borrower must pay every month. If it's a big chunk of income it can effect repayment capability.
data['MonthlyPayment'] = data['LoanAmount'] * (1 + (data['InterestRate'] / 100)) / data['LoanTerm']

# shows how stable job score of a person 
def employment_stability(row):
    score = row['MonthsEmployed']
    if row['EmploymentType'] == 'Full-time':
        score += 10
    elif row['EmploymentType'] == 'Part-time':
        score += 5
    elif row['EmploymentType'] == 'Unemployed':
        score -= 10
    return score
    
data['EmploymentStability'] = data.apply(employment_stability, axis=1)

#shows risky young borrowers with large loans
data['IsYoungHighLoan'] = ((data['Age']<25) & (data['LoanAmount']>150000)).astype(int)

#shows if person have dependent then 
data['IsSingleWithDependents'] = ((data['MaritalStatus'] == 'Single') & (data['HasDependents'] == 'Yes')).astype(int)

data.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,...,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default,LoantoIncomeRatio,MonthlyPayment,EmploymentStability,IsYoungHighLoan
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,...,Divorced,Yes,Yes,Other,Yes,0,0.588262,1619.205558,90,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,...,Married,No,No,Other,Yes,0,2.467481,2173.759400,25,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,...,Divorced,Yes,Yes,Auto,No,1,1.534154,6522.379150,16,0
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,...,Married,No,No,Business,No,0,1.412638,1998.595387,10,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,...,Divorced,No,Yes,Auto,No,0,0.447179,202.790602,-2,0

In [46]:
data['LoanAmount'].mean()

127578.86551242035

In [48]:
data['LoanAmount'].max()

249999

In [50]:
data['LoanAmount'].median()

127556.0

In [69]:
data['LoanAmount'].mode()

0     95419
1    133724
2    221949
Name: LoanAmount, dtype: int64

In [95]:
data['IsYoungHighLoan'].value_counts()

IsYoungHighLoan
0    241361
1     13986
Name: count, dtype: int64